body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.gameboy{
  height: 800px;
  width: 650px;
  background-color: #a8a8a8;
  background-image: linear-gradient(315deg, #a8a8a8 0%, #f5f7fa 74%);
  border: 2px gray;
  border-radius: 5%;
}

.gameboyinner{
  height: 790px;
  width: 630px;
  background-color: #ebebeb;
  background-image: linear-gradient(315deg, #ebebeb 0%, #d7e1ec 74%);
  border-radius: 5%;
  border: gray;
  margin-top: -7px;
  margin-left: -5px;
}

.gbhi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen{
  height: 400px;
  width: 500px;
  background-color: #f5f7fa;
  background-image: linear-gradient(315deg, #f5f7fa 0%, #a8a8a8 74%);;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
} 

.innerScreen{
  height: 380px;
  width: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: #309c30;
  border-radius: 5%;
  margin-right: .5px;
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: .5px;
}

.title {
  position: relative;
  top: 0;
  font-size: 3rem;
  z-index: 2;
}

.score {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.p-count, .c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.move {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.options {
  display: flex;
  flex-direction: row;
}
.result {
  margin-top: 20px;
  font-size: 1.2rem;
}

.movesLeft{
  text-align: center;
  font-size: 1.5rem;
}

.gblo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.rock, .paper, .scissor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 40px;
  align-items: center;
  font-family:'pressStart2P', cursive;
  font-weight: bold;
  color: rgb(95, 91, 91);
  font-size: 1.75rem;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 50px 50px;
  border-radius: 50%;
  font-size: 1.25rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
  transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
} 

.reload {
  display: none;
  margin-top: 2rem;
  padding: 80px 30px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: red;
  font-size: 2rem;
}



/*
.reload {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.top {
  display: block;
  position: relative;
  padding: 50px 50px;
  border-radius: 50%;
  font-size: 1.25rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.reload:hover {
  filter: brightness(100%);
}

.reload:hover .top {
  transform: translateY(-6px);
  transition:
    transform
    250ms
  cubic-bezier(.3, .7, .4, 1.5);
}

.reload:active .top {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.reload:hover .bottom {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.reload:active .bottom {
  transform: translateY(1px);
  transition: transform 34ms;
}

.reload:focus:not(:focus-visible) {
  outline: none;
} 



 /* 

  .reload:hover .top {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
  }

  
  
  


*/


